.modal-open {
	padding: 20px;
	margin-bottom: 50px;
	background: #04f;
	color: white;
	border: none;
	font-size: 22px;
	transition: all .2s ease;
	cursor: pointer;
}

.modal-open:hover,
.modal-open:focus {
	background: rgba(0, 68, 255, .8);
}