<div class="form-out" (click)="modalService.closeChange()"></div>

<form class="form" [formGroup]="form" (ngSubmit)="submit()">
	<h2 class="form__title">Изменить</h2>
	<label class="form__label">
		<p class="form__label-name">Имя</p>
		<p *ngIf="name.errors?.maxlength && name.touched">error</p>
		<input type="text" class="form__input" placeholder="Имя" formControlName="name" appFocus>
	</label>
	<label class="form__label">
		<p class="form__label-name">Фамилия</p>
		<input type="text" class="form__input" placeholder="Фамилия" formControlName="surname">
	</label>
	<label class="form__label">
		<p class="form__label-name">Отчество</p>
		<input type="text" class="form__input" placeholder="Отчество" formControlName="lastname">
	</label>
	<input type="submit" value="Измеинть" class="form__submit">
</form>