.notification-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	left: 0;
	right: 40px;
	bottom: 40px;
	z-index: 100;
	cursor: pointer;
}

.notification {
	padding: 30px 20px;
	color: white;
	background: #04f;
}

@media (max-width: 700px) {
	.notification-container {
		right: 10px;
		bottom: 10px;
	}

	.notification {
		max-width: 200px;
		text-align: center;
		padding: 10px;
	}
}