<div class="wrapper-help">
	<input type="text" placeholder="Найти пользователя" [(ngModel)]="search" class="search" />
	<div class="wrapper-out-btn">
		<button class="out-btn" (click)="out()">Выход</button>
	</div>
</div>
<table class="table">
	<caption class="table-title">Crm-system</caption>
	<ng-container *ngIf="this.loading">
		<div class="loader-container">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>
	</ng-container>
	<thead>
		<tr>
			<th>id</th>
			<th>Имя</th>
			<th>Фамилия</th>
			<th>Отчество</th>
			<th>Изменить</th>
			<th>Удалить</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let client of this.clients.clients | filtered: search">
			<tr>
				<td class="table__text-wrapper">{{client.id}}</td>
				<td class="table__text-wrapper">{{client.name}}</td>
				<td class="table__text-wrapper">{{client.surname}}</td>
				<td class="table__text-wrapper">{{client.lastname}}</td>
				<td class="table__btn-wrapper table__btn-wrapper-change">
					<button (click)="clickChange.changeButton($event)" [attr.attribute]="client.id">Изменить</button>
				</td>
				<td class="table__btn-wrapper table__btn-wrapper-delete">
					<button (click)="clickChange.deleteButton($event)" [attr.attribute]="client.id">Удалить</button>
				</td>
			</tr>
		</ng-container>
	</tbody>
</table>