.form-out {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
}

.form {
	width: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	background: white;
	padding: 30px 20px;
	border-radius: 16px;
}

.form__title {
	margin-bottom: 20px;
}

.form__label {
	margin-bottom: 20px;
}

.form__label-name {
	margin: 0;
	margin-bottom: 5px;
}

.form__input {
	width: 100%;
	padding: 5px;
}

.form__submit {
	padding: 10px;
	background: #04f;
	color: white;
	border: none;
	transition: all .2s ease;
	cursor: pointer;
}

.form__submit:hover,
.form__submit:focus {
	background: rgba(0, 68, 255, .8);
}

.form__input {
	width: 100%;
	font-size: 18px;
	outline: none;
}

.form__input:hover,
.form__input:focus {
	outline: none;
	border: #04f 2px solid;
}

.form__error {
	font-size: 18px;
	color: tomato;
}

@media (max-width: 500px) {
	.form {
		width: 300px;
	}
}