<div class="form-out" (click)="modalService.close()"></div>

<form class="form" [formGroup]="form" (ngSubmit)="submit()">
	<h2 class="form__title">Добавить</h2>
	<label class="form__label">
		<p class="form__label-name">Имя</p>
		<p *ngIf="name.errors?.maxlength && name.touched" class="form__error">Максимум 16 символов</p>
		<p *ngIf="name.errors?.required && name.touched" class="form__error">Не может быть пустым</p>
		<input type="text" class="form__input" placeholder="Имя" formControlName="name" appFocus>
	</label>
	<label class="form__label">
		<p class="form__label-name">Фамилия</p>
		<p *ngIf="surname.errors?.maxlength && surname.touched" class="form__error">Максимум 16 символов</p>
		<p *ngIf="surname.errors?.required && surname.touched" class="form__error">Не может быть пустым</p>
		<input type="text" class="form__input" placeholder="Фамилия" formControlName="surname">
	</label>
	<label class="form__label">
		<p class="form__label-name">Отчество</p>
		<p *ngIf="lastname.errors?.maxlength && lastname.touched" class="form__error">Максимум 16 символов</p>
		<p *ngIf="lastname.errors?.required && lastname.touched" class="form__error">Не может быть пустым</p>
		<input type="text" class="form__input" placeholder="Отчество" formControlName="lastname">
	</label>
	<input type="submit" value="Добавить" class="form__submit">
</form>