<div class="container">
	<form class="form" [formGroup]="form" (ngSubmit)="submit()">
		<h1 class="form__title">Зарегистрироваться</h1>
		<label class="form__label">
			<p class="form__label-title">Почта</p>
			<p *ngIf="name.errors?.maxlength && name.touched" class="form__error">Максимум 16 символов</p>
			<p *ngIf="name.errors?.required && name.touched" class="form__error">Не может быть пустым</p>
			<p *ngIf="name.errors?.email && name.touched" class="form__error">Это не почта :)</p>
			<input class="form__input" type="text" placeholder="Введите почту" formControlName="mail">
		</label>
		<label class="form__label">
			<p class="form__label-title">Пароль</p>
			<p *ngIf="password.errors?.maxlength && password.touched" class="form__error">Максимум 16 символов</p>
			<p *ngIf="password.errors?.minlength && password.touched" class="form__error">Минимум 8 символов</p>
			<p *ngIf="password.errors?.required && password.touched" class="form__error">Не может быть пустым</p>
			<p *ngIf="coincidence" class="form__error">Пароли не совпадают</p>
			<input class="form__input" type="password" placeholder="Введите пароль" formControlName="password">
		</label>
		<label class="form__label">
			<p class="form__label-title">Повторите Пароль</p>
			<p *ngIf="repassword.errors?.maxlength && repassword.touched" class="form__error">Максимум 16 символов</p>
			<p *ngIf="repassword.errors?.minlength && repassword.touched" class="form__error">Минимум 8 символов</p>
			<p *ngIf="repassword.errors?.required && repassword.touched" class="form__error">Не может быть пустым</p>
			<p *ngIf="coincidence" class="form__error">Пароли не совпадают</p>
			<input class="form__input" type="password" placeholder="Введите пароль" formControlName="repassword">
		</label>
		<div class="form__wrapper-btn">
			<input class="form__btn" type="submit" value="Отправить">
		</div>
		<div class="form__wrapper-auth">
			<p class="form__title-auth">Есть аккаунта?</p>
			<a routerLink="/entry" class="form__link-auth">Войти</a>
		</div>
	</form>
</div>
